input{
    width: 150px;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    border-style: unset;
}
input[value="0"]{
    width: 322px;
}
input[type="button"]:active{
    box-shadow: inset 2px 2px 10px #000000;
}
table{
    margin: 0 auto;
    height: 700px;
    width: 650px;
}
[name="b1"]{
    background-color: rgb(255, 135, 0);
}
[name="b2"]{
    background-color: rgb(133, 133, 133);
}
#l1{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: #e5c3a2;
    text-align: right;
}
*{
    font-family: Arial;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
}
table{
    border: 1px solid black;
}