p#a{
    border-bottom: 2px solid gray;
}
.bigone{
    color: gray;
    width: 60%;
    margin: auto;    
}
img{
    width: 20px;
    height: 20px;
    vertical-align: middle;  /*居中对齐*/
}
label{
    vertical-align: middle;
}
td#th{
    text-align: right;
}
td#usersType{
    text-align: right;
}