.head{
    height: 400px;
    text-align: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("/image1/hdu.jpg");
}
.blockmid{
    margin: 0px 100px 0px 100px;
    background-color: #ededf0;
}
.block1{
    margin: 40px;
    padding: 0px 60px 50px 60px;
    background-repeat: no-repeat;
    background-image: url("/image1/logo.png");
    background-color: #f6f7f7;
    box-shadow: 5px 5px 8px  #d1d1d1
}
.block2{
    margin: 30px;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
}
.block3{
    font-size: 20px;
    padding: 20px;
    color: white;
    background-color: #888888;
}
h2{
    line-height: 190%;
    color: #6da1d0;
    border-bottom: 2px solid #6da1d0;
}
p{
    line-height: 170%;
}
a:hover{
    color: #6da1d0;
    text-decoration: underline;
}
a{
    font-weight: bold;
    line-height: 150%;
    text-decoration: none;
}