p#a{
    border-bottom: 2px solid gray;
}
.bigone{
    color: gray;
    font-size: 20px;
    width: 60%;
    margin: auto;
}
img{
    width: 20px;
    height: 20px;
    vertical-align: middle;  /*居中对齐*/
}
label{
    vertical-align: middle;
}
td#th{
    text-align: right;
}
td#usersType{
    text-align: right;
}
#code{
    background: rgb(206, 206, 206);
}
#check_Code,#holder{
    width: 15em;
    height: 28px;
}
input[type="text"],input[type="password"]{
    width: 100%;
    height: 28px;
    background: rgb(215, 224, 209);
}
